.home {
  width: 100%;
  height: 4rem;
}

.goHome,
.arrowLeft {
  position: relative;
  float: right;
  top: 1.5rem;
  color: var(--content-text-color);
  color: var(--content-text-color);
}

.goHome:hover,
.arrowLeft:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.arrowLeft {
  right: 3rem;
}
