.home {
  position: sticky;
  float: right;
  top: 1.3rem;
  right: 2rem;
}

.goHome {
  cursor: pointer;
  color: var(--content-text-color);
}

.goHome:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
