.home {
  position: sticky;
  float: right;
  top: 1rem;
  right: 1rem;
}

.goHome,
.arrowLeft {
  cursor: pointer;
  color: var(--content-text-color);
}

.goHome:hover,
.arrowLeft:hover {
  transform: scale(1.2);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.arrowLeft {
  color: var(--content-text-color);
  margin-right: 1rem;
}
