.home {
  width: 100%;
  height: 4rem;
}

.goHome {
  position: relative;
  float: right;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
  color: var(--content-text-color);
}

.goHome:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
