.container {
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeText {
  width: auto;
}

.welcomeText:hover {
  transform: scale(1.1);
  cursor: none;
}

.puppy {
  width: 22rem;
  height: 28rem;
}
