.header {
  position: relative;
  top: 3rem;
  width: 100%;
  height: 10rem;
  background-color: #141414;
  color: rgba(229, 9, 20, 1);
  font-size: 6rem;
  text-align: center;
  line-height: 1.5em;
}

.section,
.desText,
blockquote {
  position: relative;
  margin: 0;
}
.section {
  display: flex;
  top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desText {
  width: 100%;
  top: 4rem;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.5em;
  color: #2b2b2b;
}

blockquote {
  top: 7rem;
  border: 1px solid #2b2b2b;
  padding: 1.2rem 1.4rem;
}

.img_atomic {
  width: 35rem;
  height: 25rem;
}

.blockquoteText {
  font-size: 0.7rem;
}
