.header {
  position: relative;
  top: 3rem;
  width: 100%;
  height: 10rem;
  background-color: #141414;
  color: rgba(229, 9, 20, 1);
  font-size: 6rem;
  text-align: center;
  line-height: 1.5em;
}

.section,
.desText,
blockquote {
  position: relative;
  margin: 0;
}
.section {
  display: flex;
  top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desText {
  width: 100%;
  top: 4rem;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.5em;
  color: #2b2b2b;
}

blockquote {
  top: 7rem;
  padding: 1.2rem 1.4rem;
}

.img_atomic {
  width: 35rem;
  height: 25rem;
}

.blockquoteText {
  font-size: 0.7rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 13rem;
  height: 10rem;
}

.buttonWrap {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 27rem;
  height: 4rem;
}

.linkButton {
  width: 12rem;
  height: 3rem;
  border-radius: 2em;
  text-align: center;
  line-height: 2.8rem;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.linkButton:hover {
  cursor: pointer;
  opacity: 0.5;
}
