.video__layout_vertical {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: var(--content-line-height);
  top: 10rem;
  margin-top: 2rem;
}

.desText {
  width: 100%;
  font-size: var(--content-font-size);
  color: var(--content-text-color);
  line-height: 1.8rem;
  text-align: center;
}

.video__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  background-color: #eaeaea;
  margin-top: 2rem;
}

video {
  margin: 2rem;
  width: 45rem;
}
