@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  /* --screen-width: 1536px; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f7f5f2;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  --content-font-size: 1.3rem;
  --content-line-height: 1.5rem;
  --content-text-color: #2b2b2b;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
